<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ТЗ - АРТ аксессориз - Сонин Илья</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ccc;
            padding: 8px;
        }

        button {
            margin-bottom: 8px;
        }
    </style>
</head>

<body>
    <div id="app"></div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        Vue.component('ctable', {
            name: 'ctable',
            template: `
            <div>
                <input v-model="filters.iso_3166_1_a2" placeholder="Filter by ISO 3166-1 A2 code">
                <button @click="getData">Apply Filters</button>
                <table>
                    <thead>
                    <tr>
                        <th>ISO 3166-1 A2</th>
                        <th>ISO 3166-1 A3</th>
                        <th>ISO 3166-1 Numeric</th>
                        <th>Printable Name</th>
                        <th>Name</th>
                        <th>Display Order</th>
                        <th>Is Shipping Country</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="country in pageData.data" :key="country.iso_3166_1_a2">
                        <td>{{ country.iso_3166_1_a2 }}</td>
                        <td>{{ country.iso_3166_1_a3 }}</td>
                        <td>{{ country.iso_3166_1_numeric }}</td>
                        <td>{{ country.printable_name }}</td>
                        <td>{{ country.name }}</td>
                        <td>{{ country.display_order }}</td>
                        <td>{{ country.is_shipping_country }}</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <button @click="goToPreviousPage" :disabled="!rpag.has_previous">Previous</button>
                    <span>{{ rpag.start_index }} - {{ rpag.end_index }} of {{ rpag.total_count }}</span>
                    <button @click="goToNextPage" :disabled="!rpag.has_next">Next</button>
                </div>
            </div>
            `,
            data () {
                return {
                    filters: {
                        iso_3166_1_a2: ''
                    },
                    paginate: {
                        page: 1,
                        pp_items: 10
                    },
                    pageData: {},
                    rpag: {}
                };
            },
            mounted () {
                this.getData();
            },
            methods: {
                getData () {
                    fetch('https://devops100.site/test/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            filters: this.filters,
                            paginate: this.paginate
                        })
                    })
                        .then(response => {
                            this.pageData = response.data.page_data;
                            this.rpag = response.data.page_data.rpag;
                        })
                        .catch(error => {
                            console.error(error);
                        });
                },
                goToPreviousPage () {
                    if (this.rpag.has_previous) {
                        this.paginate.page = this.rpag.previous_page_number;
                        this.getData();
                    }
                },
                goToNextPage () {
                    if (this.rpag.has_next) {
                        this.paginate.page = this.rpag.next_page_number;
                        this.getData();
                    }
                }
            }
        })


        new Vue({
            el: "#app",
            template: `<div>
                <ctable />
            </div>`
        })
    </script>
</body>

</html>